name: Publish

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "20.x"
      - run: corepack yarn install
      - run: corepack yarn test

  release:
    permissions:
      contents: write

    if: startsWith(github.ref, 'refs/tags/v')
    needs:
      - test

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "20.x"
      - run: corepack yarn install
      - run: corepack yarn build
      - run: corepack yarn ovsx publish -p ${{ secrets.OVSX_TOKEN }}
      - run: corepack yarn vsce publish -p ${{ secrets.VSCE_TOKEN }}
      - uses: softprops/action-gh-release@v2
        with:
          draft: true
